{% extends 'snippet/layout.html' %}

{% load staticfiles %}

{% load ops_extras %}

{% block title %}Register{% endblock %}

{% block main %}
    <div>
        <form action='' method="POST">
            <fieldset>
                <div>
                    <legend>注册</legend>
                </div>
                {{ errors|dump_errors }}
                <div>
                    <!-- Username -->
                    <label>用户名</label>
                    <div>
                        <input type="text" id="username" name="username" placeholder="">
                        <p>用户名由字母开头，只能含有字母、数字或者下划线</p>
                    </div>
                </div>

                <div>
                    <!-- E-mail -->
                    <label>E-mail</label>
                    <div>
                        <input type="text" id="email" name="email" placeholder="">
                        <p>请输入你的E-mail，便于登录和找回密码</p>
                    </div>
                </div>

                <div>
                    <!-- Password-->
                    <label>密码</label>
                    <div>
                        <input type="password" id="password" name="password" placeholder="">
                        <p>密码不少于4个字符</p>
                    </div>
                </div>

                <div>
                    <!-- Password -->
                    <label>密码（确认）</label>
                    <div>
                        <input type="password" id="password_confirm" name="password_confirm" placeholder="">
                        <p>请再次输入密码</p>
                    </div>
                </div>

                <div>
                    <!-- Button -->
                    <div>
                        <button>注册</button>
                    </div>
                </div>
            </fieldset>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}