{% extends 'snippet/layout.html' %}

{% load staticfiles %}

{% load ops_extras %}

{% block title %}Login{% endblock %}

{% block main %}
    <div>
        <form action='' method="POST">
            <fieldset>
                <div>
                    <legend>用户密码设置</legend>
                </div>
                {% if success_message %}
                <ul>
                    <li>{{ success_message }}</li>
                </ul>
                {% endif %}
                {{ errors|dump_errors }}
                <div>
                    <!-- Password-->
                    <label>当前密码</label>
                    <div>
                        <input type="password" id="password_old" name="password_old" placeholder="">
                        <p>密码不少于4个字符</p>
                    </div>
                </div>

                <div>
                    <!-- Password-->
                    <label>新密码</label>
                    <div>
                        <input type="password" id="password" name="password" placeholder="">
                        <p>密码不少于4个字符</p>
                    </div>
                </div>

                <div>
                    <!-- Password -->
                    <label>新密码（确认）</label>
                    <div>
                        <input type="password" id="password_confirm" name="password_confirm" placeholder="">
                        <p>请再次输入新密码</p>
                    </div>
                </div>

                <div>
                    <!-- Button -->
                    <div>
                        <button>保存改动</button>
                        <a href="/setting/">返回设置页</a>
                    </div>
                </div>
            </fieldset>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}