{% extends 'snippet/layout.html' %}

{% load staticfiles %}

{% load ops_extras %}

{% block title %}重启仿真{% endblock %}

{% block css %}
    <style>
    .tooltips{ border-width: 1px; border-style: solid; position: absolute; display: none; border-radius: 3px; opacity: 0; filter:alpha( opacity = 0) ; z-index: 999;}
    .tooltips p.content{ padding: 5px; }
    .tooltips .triangle-front,.tooltips .triangle-back{ width: 0; height: 0; overflow: hidden; border-width: 8px; border-style: solid; position: absolute; border-color: transparent ; top: 100%; left: 50%; margin-left: -8px;}
    .tooltips .triangle-back{ margin-top: -1px;}

    .yellow{ border-color: #c7c08d; background-color: #fffac3;}
    .yellow .triangle-front{ border-top-color: #c7c08d;}
    .yellow .triangle-back{ border-top-color: #fffac3;}
    </style>
{% endblock %}

{% block module %}重启仿真{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-lg-8  pull-left">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-heading">
                        <i class="fa  fa-cubes fa-fw"></i> 工程选项
                    </div>
                    <div class="panel-body">
                        <form class="form-inline" id='form_restart'  method="POST" action="#">{% csrf_token %}

                            <div class="form-group">
                                <label>工程</label>
                                <textarea class="form-control" rows="3" name="project"></textarea>
                            </div>
                            <br/>



                            <div class="form-group" id="projectss">

                            </div>
                            <br/>


                            <div class="form-group">
                                <label>备注</label>
                                <input class="form-control" name="note" placeholder="请填写备注信息">
                            </div>
                            <br/>
                            <button type="button" id='restart_info' class="btn btn-success ">apply</button>
                        </form>
                        <div><strong id="things"></strong></div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-lg-4 pull-right">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> 重启消息
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">

                        {% for res in get_all_restart %}
                            <a href="#" class="list-group-item" id="steven">
                            {% if res.operator %}
                                <button type="button" class="btn btn-success btn-circle"><i class="fa fa-check"></i></button>&nbsp{{ res.operator }}&nbsp已通过<strong class="text-success" title="{{ res.projects }}" tooltips="{{ res.projects }}"> &nbsp{{ res.projects | project_process }}&nbsp 等</strong>
                                <span class="pull-right text-muted small">&nbsp&nbsp<em>{{ res.restarttime | pretty_date }}</em></span>
                            {% else %}
                                {% if perms.tibet.can_operate_hostlist  %}
                                    <button type="button" class="btn btn-default btn-circle" id="{{ res.id }}" res_id="{{ res.id }}" onclick="test(this.id)">
                                        <i class="fa fa-link"></i>
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-default btn-circle">
                                        <i class="fa fa-link"></i>
                                    </button>
                                {% endif %}
                                &nbsp{{ res.applicant }} &nbsp申请重启&nbsp<strong class="text-muted" title="{{ res.projects }}" tooltips="{{ res.projects }}"> {{ res.projects | project_process }} &nbsp 等</strong>
                                <span class="pull-right text-muted small">&nbsp&nbsp<em>{{ res.applitime | pretty_date }}</em></span>
                            {% endif %}
                            </a>
                        {% endfor %}

                    </div>
                    <strong id="items">aaa</strong>
                    <!-- /.list-group -->
                    <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script src="{% static "sb/vendor/jquery/jquery.min.js" %}"></script>

    <script>

    var MYAPP = {};
    MYAPP.pros = 'mypros';

    $(function(){
        $.getJSON("projects",function(data){
            //alert('aaaste');
            var $jsontip = $("#projectss");
            var strHtml = "";//存储数据的变量
            $jsontip.empty();//清空内容
                strHtml += "<label>或者选择&nbsp：</label>"
            $.each(data.data1,function(infoIndex,info){
                //strHtml += "<a href='" + info["url"] + "' target='_blank'><img src='" + info["img"] + "' /></a>";
                strHtml += "<div class='checkbox'><label><input type='checkbox' value='" + info + "' name='pro'>" + info + "</label></div>&nbsp&nbsp&nbsp&nbsp";
            })
            MYAPP.pros = data.data1
            $jsontip.html(strHtml);//显示处理后的数据
        })
    })

    //去除数组中的空值
    function trimSpace(array){
         for(var i = 0 ;i<array.length;i++)
         {
             if(array[i] == "" || typeof(array[i]) == "undefined")
             {
                      array.splice(i,1);
                      i= i-1;
             }
         }
         return array;
    }



    $('#restart_info').click(function(){
        //alert(MYAPP.pros);
        //alert($("textarea[name='project']").val());
        var textarea_val;
        textarea_val = $("textarea[name='project']").val();
        var respro;
        respro = textarea_val.split(/[, \t\n]/);
        trimSpace(respro);
        var i, x;
        for (i=0; i<respro.length;i++){
            dbi = respro[i];
            if (MYAPP.pros.indexOf(dbi) == -1){
                alert('错误工程名' + dbi);
                return
            }
        }
        var linkk;
        linkk = "/restart_fz_shenqing"
        $.post(linkk, $("#form_restart").serialize(), function(data){
            $('#things').html(data);
            location.reload()
        });
    });

    function test(id) {
        var resid;
            //resid = $(this).attr("res_id");
            resid = id
            $.get('/restart_fz/restart', {resid:resid}, function(data){
                alert(data);
                location.reload()
            });
    }



    /* $('#restart_btn').click(function(){
        var resid;
        resid = $(this).attr("res_id");
        $.get('/restart_fz/restart', {resid:resid}, function(data){
            alert(data);
            location.reload()
        });
    });



方法一:
参考: http://www.lanrenzhijia.com/jquery/2822.html
    $.fn.extend({
        hoverTips : function (){
            var self = $(this);
            var sw = self.get(0).switch;
            var tooltips;
            tooltips = $(this).attr("tooltips");
            if( !sw ) {
                sw = true;
                var content = self.attr("tooltips");
                var htmlDom = $("<div class='tooltips'>")
                        .addClass("yellow")
                        .html("<p class='content'></p>"
                                + "<p class='triangle-front'></p>"
                                + "<p class='triangle-back'></p>");
                htmlDom.find("p.content").html( content );
            }
            self.on("mouseover",function(){
                var tooltips;
                tooltips = $(this).attr("tooltips");
                $("body").append( htmlDom );
                var left = self.offset().left - htmlDom.outerWidth()/2 + self.outerWidth()/2;
                var top = self.offset().top - htmlDom.outerHeight() - parseInt(htmlDom.find(".triangle-front").css("border-width"));
                htmlDom.css({"left":left,"top":top - 10,"display":"block"});
                htmlDom.stop().animate({ "top" : top ,"opacity" : 1},300);
            });
            self.on("mouseout",function(){
                var top = parseInt(htmlDom.css("top"));
                htmlDom.stop().animate({ "top" : top - 10 ,"opacity" : 0},300,function(){
                    htmlDom.remove();
                    sw = false;
                });
            });
        },
    });



$('#steven strong').hoverTips();


方法二:
        $('#steven strong').mouseover(function(){
            var projects;
            projects = $(this).attr("projects");

            $("body").append( projects );


        })

*/




    </script>
{% endblock %}
